step.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Result Query",
  "States": {
    "Result Query": {
      "Type": "Pass",
      "Next": "Date.now()",
      "Result": {
        "date": "2023-08-08"
      }
    },
    "Date.now()": {
      "Type": "Pass",
      "Parameters": {
        "startTime.$": "$$.Execution.StartTime",
        "splitter": "T",
        "date.$": "$.date"
      },
      "Next": "Split Date"
    },
    "Split Date": {
      "Type": "Pass",
      "Parameters": {
        "localDate.$": "States.StringSplit($.startTime, $.splitter)",
        "date.$": "$.date"
      },
      "Next": "Extract Date"
    },
    "Extract Date": {
      "Type": "Pass",
      "Next": "Data valida ?",
      "Parameters": {
        "date.$": "$.date",
        "localDate.$": "$.localDate[0]"
      }
    },
    "Data valida ?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.date",
          "StringEqualsPath": "$.localDate",
          "Next": "Sim"
        }
      ],
      "Default": "Nao"
    },
    "Sim": {
      "Type": "Pass",
      "End": true
    },
    "Nao": {
      "Type": "Pass",
      "End": true,
      "Result": {
        "ValueEnteredInForm": ""
      }
    }
  }
}
